name: Primoris Git Action
run-name: Primoris Git Action
on: [push]

env:
 AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
 AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  creating_an-Ec2-machine:
   runs-on: ubuntu-latest

   steps:
      - name: checkout code from repo
        uses: actions/checkout@v4
      
      - name: Setup Terraform to implement cloud infrastructure
        uses: hashicorp/setup-terraform@v2
        with:
           version: 1.3.0

      - name: Terraform init
        run: terraform init  

      - name: Terraform plan 
        run: terraform plan 
            
      - name: Terraform apply
        run: terraform apply   

