name: Primoris Git Action
run-name: Primoris Git Action
on: [push]
jobs:
  creating_an-Ec2-machine:
   runs-on: ubuntu-latest
   steps:
      - name: checkout code from repo
        uses: actions/checkout@v4
      - run : ls
