name: Primoris Git Action
run-name: Primoris Git Action
on: [push]
jobs:
  creating_an-Ec2-machine:
   runs-on: ubuntu-latest
   steps:
      - name: checkout code from repo
        uses: actions/checkout@v4
      
      - name: Setup Terraform to implement cloud infrastructure
        uses: hashicorp/setup-terraform@v2
        with:
           version: 1.9.5

      - name: Terraform init
         run: terraform init     

